---
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
    const datos = await fetch('https://rickandmortyapi.com/api/character')
    const data = await datos.json()
    const characters = data.results
    
    return characters.map((personaje) => ({
        // recuperamos lo que se envía a través de la URL
        params:{
            id: personaje.id
        },
        props:{
            personaje:personaje
        }
    }))
}

const {id, name, image, status, species, gender, location, created} = Astro.props.personaje
---

<Layout title={`Character ${name}`}`>
    <article class="flex gap-y-4 flex-col">
        <img class="w-52 h-auto" src={image} alt={name}>
        <h2 class="text-4xl text-white font-bold">#{id} {' '} {name}</h2>
        <p class="text-lg"><b>Status: </b><i>{status}</i></p>
        <p class="text-lg"><b>Specie: </b><i>{species}</i></p>
        <p class="text-lg"><b>Gender: </b><i>{gender}</p>
        <p class="text-lg"><b>Location: </b><i>{location.name}</p>
        <p class="text-lg"><b>Created: </b><i>{created}</p>
    </article>
</Layout>
