---

const {personaje} = Astro.props
console.log(personaje)
const {id, name,species, image} = personaje
---

<a 
    href=`/infocharacters/${id}`
    class="rounded-lg border shadow-md bg-gray-800 border-gray-700 
    hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col"
>

<picture class="flex justify-center p-4">
    <img class="mb-5 rounded-lg" src={image} alt={`Patch for launch ${id}`} />
</picture>

<header class="p-4 flex-grow">
    
    <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
        #{id} {' '} {name}
    </h2>

    <h4 class="my-2 text-1xl font-bold tracking-tight text-white">
        Specie: {species}
    </h4>
</header>